<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WechatShareDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41D9A40D1DD368DC0041EE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D9A4261DD368DC0041EE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D9A4311DD368DC0041EE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
